!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  %div{class: "layout-notification"}
    チャットグループが作成されました
    %div{class: "chat"}
      %div{class: "chat-side"}
      %div{class: "chat-user clearfix"}
      %h5 hayashi
      %div{class: "chat-user__actions"}
        %small グループ作成
        %small プロフィール編集
      %ul{class: "chat-groups"}
        %li{class: "chat-group"}
        %small リンク
      %p{class: "chat-group__name"}
        hayashi
      %p{class: "chat-group__message"}
        まだメッセージはありません。


  = yield
